<div class="dark-body">
    <div class="container">
        <h2 class="recentPosts text-center">Recent Blog Posts</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="blogSummary">
                    <div class="blogImg"><img src="~/images/blog01.png"></div>
                    <h3><a href="#">IoT Hub throttling and you</a></h3>
                    <p class="blogMeta">Wednesday, April 20, 2016</p>
                    <p>One of the questions I field the most often from folks has to do with how IoT Hub throttles certain operations.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blogSummary">
                    <div class="blogImg"><img src="~/images/blog02.png"></div>
                    <h3><a href="#">Azure Media Services announces collaboration with THEOplayer</a></h3>
                    <p class="blogMeta">Wednesday, April 20, 2016</p>
                    <p>With THEOplayer, video publishers can use a single video player to reach..</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blogSummary">
                    <div class="blogImg"><img src="~/images/blog03.png"></div>
                    <h3><a href="#">JSON functionalities in Azure SQL Database (public preview)</a></h3>
                    <p class="blogMeta">Tuesday, April 19, 2016</p>
                    <p>We are happy to announce public preview of new JSON functionalities in Azure SQL Database.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blogSummary">
                    <div class="blogImg"><img src="~/images/blog04.png"></div>
                    <h3><a href="#">Optimizing document search using Machine Learning and Text Analytics</a></h3>
                    <p class="blogMeta">Tuesday, April 19, 2016</p>
                    <p>Azure ML Text Analytics can both optimize the content in Azure Search and improve the search experience by not only reducing the index size</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="btn btn-lg btn-blue">View all posts</a>
        </div>
    </div>
</div>
