<div class="light-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/video.png">
            </div>
            <div class="col-md-6">
                <h2>Get Started</h2>
                <p>Some details about the event goes here. Some details about the event goes here. Some details about the event goes here. Some details about the event goes here.</p>
                <p><strong>Participate in this event, this April and learn more about Microsoft.</strong></p>
                <p><a href="#" class="btn btn-lg btn-blue">Join Event</a></p>
            </div>
        </div>
    </div>
</div>
