<div class="sliderContainer">
    <div class="slider">
        <ul class="bxslider">
            <li>
                <img src="~/images/slider01.png">
                <div class="sliderDescription">
                    <h2>Microsoft Lumia 650 finally lands at Cricket</h2>
                    <p>This will be the only US carrier that will sell the Lumia 650, it turns out.</p>
                    <p><a href="#" class="btn btn-lg btn-blue">Join Now <i class="fa fa-angle-right"></i></a></p>
                </div>
                <div class="sliderCover"></div>
            </li>
            <li>
                <img src="~/images/slider02.png">
                <div class="sliderDescription">
                    <h2>Microsoft sold 2.3 million Lumia devices</h2>
                    <p>Microsoft has released its Q3 fiscal 2016 earnings report.</p>
                    <p><a href="#" class="btn btn-lg btn-blue">Join Now <i class="fa fa-angle-right"></i></a></p>
                </div>
                <div class="sliderCover"></div>
            </li>
        </ul>
    </div>
</div>
