<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->


  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="TraceLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/Trace/${logger}.log" layout="Server-Date: ${longdate}; UTC-Date: ${utc_date}; ${message}"/>
    <target name="ErrorLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}/Error/${logger}.log" layout="Server-Date: ${longdate}; UTC-Date: ${utc_date}; Level: ${level}; Log-Message: ${message}; Error-Source: ${event-context:item=error-source}; Error-Class: ${event-context:item=error-class}; Error-Method: ${event-context:item=error-method}; Error-Message: ${event-context:item=error-message}; Inner-Error-Message: ${event-context:item=inner-error-message};"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="ErrorLog"/>
    <logger name="*" levels="Trace,Debug,Warn,Info" writeTo="TraceLog"/>
  </rules>
</nlog>