@{
    ViewBag.Title = "About";
}
<div class="light-body">
    <div class="container">
        <h2 class="recentPosts">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </div>
</div>