@model IEnumerable<CommunityApp.Entity.BlogPost>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="light-body">
    <div class="container">
        <h2 class="recentPosts">Most recent posts</h2>
        <div class="form-horizontal">

            @foreach (var item in Model)
            {
                <h2 class="recentPosts">@Html.ActionLink(item.Title, "Item", new { Id = item.PostId })</h2>
                <p>Author : @Html.DisplayFor(modelItem => item.CreatedBy), Date : @Html.DisplayFor(modelItem => item.CreatedDate)</p>
                <hr />
                @Html.Raw(item.Description)
            }
        </div>
    </div>
</div>
